.ui-container {
    margin: 0rem;
    padding: 2rem 2rem;
    text-align: center;
    display: grid;
    background-color: rgba(3, 3, 3, 0.801);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    flex-direction: column;

    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    margin: 1rem;
    padding: 2rem 2rem;
}

.ui-child {
    color: rgb(255, 255, 255);
    background-color: rgba(3, 3, 3, 0.801);
    border-radius: 15px;
    margin: 10px;
}
.ui-child > h2 {
    color: #4ce668;
    text-align: center;
}
.ui-child > img {
    padding: 15px;
    text-align: center;
    width: 100%;
    height: 250px;
}
.ui-child > p {
   padding: 20px;
}

